* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-size: 48px;
  font-weight: bolder;
}
h2, h3 {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 22px;
}

.badge-orange {
    background-color: orange;
    color: #000000;
}

.badge-violet {
    background-color: violet;
}

h5 {
  margin-top: 0.5rem ;
}

#searchHistory{
  margin-bottom: 0.5rem;
}

#forecast {
  margin: 0.5rem;
}
